html{
    background-color: #E5E9FD;
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    min-height: 1000px;
    font-family: 'helvetica neue';
}

h1{
    color: #fff;
    padding: 10px;
}
.box{
    max-width: 400px;
    margin:  50px auto;
    background:  white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3) ;
}

#heading{
    background-color: #A683E3;
    text-align:  center;
}
.item{
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}
.item:last-child{
    border-bottom: 0;
}
input:checked+p{
    text-decoration: line-through;
    text-decoration-color: #A683E3;
}

input[type='checkbox'] {
    margin:20px;
}
p{
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
}

form.item{
    text-align: center;
    margin-left: 20px;
}
form button{
   min-height: 50px;
   width: 50px;
   border-radius: 50%;
   border-color: transparent;
   background-color: #A683E3;
   margin-left: 100px; 
}
form input{
    text-align: center;
    block-size: auto;
}



